@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<AppointmentViewModel>

@{

    var imageList = new List<string>();

    var imagePath = "~/images/doctors/DOCTOR1.png";

    for (int i = 0; i < Model.Count; i++)
    {
        imageList.Add(imagePath);
    }
}

<div class="row row-cols-1 row-cols-md-2 g-4 ">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="card-group col">
            <div class="card">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="@Url.Content(imageList[i])" class="card-img-top" alt="@System.IO.Path.GetFileNameWithoutExtension(Url.Content(imageList[i]))" style="height: 200px; width: 250px;">

                </div>
                <div class="card-body">
                    <h5 class="card-title">Dr. @Model[i].Name</h5>
                    <p class="card-text">
                        <i class="bi bi-award"></i>
                        <span class="fw-bold" style="color: #0D8F83;">Specialty:</span> @Utils.GetEnumDescription(Model[i].Specialty)
                    </p>
                    <p class="card-text">
                        <i class="bi bi-envelope"></i>
                        <span class="fw-bold" style="color: #0D8F83;">Email:</span>
                        <a href="mailto:@Model[i].Email" style="color: #0D8F83; text-decoration: none;">
                            @Model[i].Email
                        </a>
                    </p>
                    <p class="card-text">
                        <i class="bi bi-telephone"></i>
                        <span class="fw-bold" style="color: #0D8F83;">Phone:</span> @Model[i].Phone
                    </p>
                    <p class="card-text">
                        <i class="bi bi-clock"></i>
                        <span class="fw-bold" style="color: #0D8F83;">Date:</span> @Model[i].Date
                    </p>
                    <p class="card-text">
                        <i class="bi bi-geo-alt"></i>
                        <span class="fw-bold" style="color: #0D8F83;">Address:</span> @Model[i].Address
                    </p>
                    <div>
                        <div class="d-flex justify-content-around align-items-center">
                            <a href="/User/CancelAppointment?appointmentID=@Model[i].ID" class="btn" style="background-color:#0D8F83; color:white;  text-decoration:none;">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<style>
    #hover:hover {
        opacity: 0.8;
    }
</style>
