@model List<Appointment>
@{
}
<form method="post" asp-action="Index" asp-controller="User" asp-route-doctorID="@ViewBag.DoctorID">
<div class="d-flex align-items-center">
    <label for="Date" class="pe-2">Select date</label>
    <input type="date" onchange="this.form.submit();" class="form-control rounded-pill border-0 w-25" id="Date" name="Date" value="@ViewBag.Date" style="background-color: #EEEEEE;">
</div>
</form>
<div class="d-flex flex-column justify-content-center align-items-center h-100 w-100">
    <table class="table table-hover">
        <thead>
            <tr class="text-center">
                <th scope="col">Time</th>
                <th scope="col">Status</th>
                <th scope="col">Select</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                if (Model[i].Date <= DateTime.Now)
                {
                    continue;
                }
                @if (Model[i].Status == Status.Free)
                {
                    <tr class="table-success text-center">
                        <td> @Model[i].Date.ToString("dddd, MMMM dd, yyyy hh:mm tt") </td>
                        <td>@Model[i].Status</td>
                        <td><i class="bi bi-check" style="cursor: pointer; color: green; font-size: 1.5rem;" title="Select"></i></td>
                    </tr>
                }
                else
                {
                    <tr class="table-danger text-center">
                        <td>@Model[i].Date.ToString("dddd, MMMM dd, yyyy hh:mm tt")</td>
                        <td>@Model[i].Status</td>
                        <td><i class="bi bi-x" style="color: red; font-size: 1.5rem;"></i></td>
                    </tr>
                }

            }
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Book an appointment</button>
    </div>
</div>
